/*.App {
  text-align: center;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: cornflowerblue;
  padding: 10px;
  color: white;
}

.App-title {
  margin: 0px;
  display: contents;
}

.App-intro {
  font-size: large;
}

.App-logout {
  float: right;
}

.App-content {
  padding: 20px;
}